@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #242424;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #242424;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar track (latar belakang) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* ← warna belakang scrollbar */
}

/* Scrollbar itu sendiri (bagian yang digeser) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;     /* warna scroll thumb */
  border-radius: 10px;
  border: 3px solid #e0e0e0;  /* warna sekeliling thumb, cocokkan dengan track */
}

/* Ukuran scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Firefox (jika perlu) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
}